body {
    background-color: #353831;
    color:#DEE5E5;
}
h1 {
    
    color:#69306D;
    margin-bottom: 0;
}
.subHead {
    margin: 0;
}
.headBlock {
    background-color:#6184D8;
    padding: 0 5% 2% 1%;
    width: 100%;
    word-wrap: break-word;
    

}
.sectionHead {
    border-bottom: 2px solid #689684;
}
p {
    margin: 0;
}
h3 {
    margin: 0;
}
.bio {
    display: block;
    width: 66%;
    padding: 0 2% 0 1%;

}
.degree {
    width: 32%;
    float:left;
    padding-bottom: 20px;
}
li {
    width: 25%;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
span#cool {
    font: 1.5em lucida-handwriting black;
}
.navBar {
    display: block;
    float: right;
}
a:link {
    color: green;
}
a:visited {
    color: hotpink;
}
.pageTop {
    margin-top: 0;
}