body {
    background-color: #d7ceb2;
    color:#3E2F5B;
}
h1 {
    
    color:#261132;
    margin: 0;
}
div {
    margin: 20px 0;
    float: left;
    width:100%;
    background-color: #ffffff;
    padding: 0 0 1% 0;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}
hr {
    float: left;
    width: -webkit-fill-available;
}
.subHead {
    margin: 0;
}
.headBlock {
    background-color:#3E2F5B;
    padding: 0 1% 2% 1%;
    width: 98%;
    word-wrap: break-word;
    margin-top: 0;
    color: #ffffff;
}

.sectionHead {
    border-bottom: 2px solid #93A8AC;
    background-color: #93A8AC;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: .5% 1%
}
.headBlock h1 {
    color: #D7CEB2;
}
p {
    margin: 0;
}
h3 {
    margin: 10px 0 0 0;
}
.bio {
    display: block;
    width: 66%;
    padding: 0 2% 0 0;

}
.degree {
    width: 31%;
    float:left;
    padding-bottom: 20px;
    box-shadow: 0 0;
}
.skillList li {
    width: 46%;
    padding: 2%;
}
.skillList {
    display: flex;
    flex-wrap: wrap;
}
span#cool {
    font: 1.5em lucida-handwriting black;
}
.navBar {
    display: block;
    float: right;
    width:auto;
}
a:link {
    color: green;
}
a:visited {
    color: hotpink;
}

.edBlocks {
    display: inline-block;
    width: 66%;
    float: left;
    margin: 0;
    box-shadow: 0px 0px;
}
.skillBox {
    width: 34%;
    box-sizing: border-box;
    float: right;
    border-left: 2px solid #93A8AC;
    border-bottom: 2px solid #93A8AC;
    margin: 0;
    box-shadow: 0 0;
}
.certs {
    width: 100%;
    float: left;
}
.workExp {
    float: left;
}
.multiBlock {
    margin: 0;
    padding: 0;
}
.edBlocks .sectionHead {
    border-top-right-radius: 0%;
}
.skillBox .sectionHead {
    border-top-left-radius: 0%;
}
.project {
    text-align: center;
    width: 25%;
}
.picOfMe {
    float: right;
    clear: right;
}
.myTitle {
    color: #93A8AC;  
}
.closeBtn {
    float: right;
    font-size: 4em;
    text-decoration: none;
    color: #000000;
}